@model WebOS.Models.NavMenuItemSub

@{
    ViewData["Title"] = "هل أنت متأكد من حذف العنصر";
}


<h3>هل أنت متأكد من حذف العنصر"@Model.Name"</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NavMenuItemId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NavMenuItem.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.indx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.indx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger rounded-0" /> |
        <a class="btn btn-primary rounded-0" asp-action="Details" asp-controller="NavMenuItems" asp-route-id="@Model.NavMenuItemId">رجوع</a>
    </form>
</div>
