@model WebOS.Models.City

@{
    ViewData["Title"] = "Delete";
}


<h3>هل أنت متأكد من حذف المدينة "@Model.ArCityName"</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArCityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArCityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnCityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnCityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.ArCountryName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn rounded-0 btn-danger" /> 
        <a class="btn btn-primary rounded-0" asp-action="Index" asp-route-cid="@Model.CountryId">رجوع</a>
    </form>
</div>
