@model WebOS.Models.City

@{
    ViewData["Title"] = "Details";
}

<h1>معلومات المدينة "@Model.ArCityName"</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArCityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArCityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnCityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnCityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.ArCountryName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary rounded-0" asp-action="Index" asp-route-cid="@Model.CountryId">رجوع</a>
</div>
