@model WebOS.Models.Country

@{
    ViewData["Title"] = "هل تريد بالفعل حذف البلد"+ Model.ArCountryName;
}


<partial name="_ViewHeader" />
<div class="px-5">
<h3>هل تريد بالفعل حذف البلد "@Model.ArCountryName"</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArCountryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArCountryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnCountryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnCountryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flag)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn rounded-0 btn-danger" /> 
        <a class="btn btn-primary rounded-0" asp-action="Index">رجوع</a>
    </form>
</div>
</div>
