@model IEnumerable<WebOS.Models.Upload>

@{
    ViewData["Title"] = "مكتبة الوسائط";
}
<partial name="_ViewHeader" />
<div class="container">
<h1>مكتبة الوسائط</h1>

    <p>
        <a asp-action="Create">رفع ملف</a>
    </p>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NameDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FolderDestination)
                </th>
               @* <th>
                    @Html.DisplayNameFor(model => model.ApplicationUser)
                </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @*@if (item.FolderDestination == FolderDestination.Secured)
                    {
                    <a href="~/Secured/@Html.DisplayFor(model => item.FileName)">تحميل</a>
                    }
                    else
                    {
                    <a href="~/Publications/@Html.DisplayFor(model => item.FileName)">تحميل</a>
                    }*@

                        @if (item.FolderDestination == FolderDestination.Files)
                        {
                            <a href="~/Files/@Html.DisplayFor(model => item.FileName)">تحميل</a>
                        }
                        else if (item.FolderDestination == FolderDestination.Images)
                        {
                            <a href="~/Pictures/@Html.DisplayFor(model => item.FileName)">تحميل</a>
                        }
                       

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FolderDestination)
                    </td>
                 @*   <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
                    </td>*@
                    <td>
                       @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div> 