@model NavViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture;
}
@if(culture.Name=="en"){
    <title>@Model.SystemSettings.EngName</title>
}
else
{
    <title>@Model.SystemSettings.AraName</title>
}
<meta content="@Model.SystemSettings.Keywords" name="keywords">
    <meta content="@Model.SystemSettings.About | @Model.SystemSettings.EnAbout" name="description">
        <!-- Favicon -->
    <link asp-append-version="true" href="/Files/610f1623-b46c-4346-a731-2ba61527b771.png" rel="icon">
