@model WebOS.Models.AccountViewModels.RoleEditModel

<partial name="_ViewHeader" />
<div class="px-5">

<div class="bg-primary panel-body"><h4>التعديل على المستخدمين</h4></div>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Edit" method="post">
    <input type="hidden" name="roleName" value="@Model.Role.Name" />
    <input type="hidden" name="roleId" value="@Model.Role.Id" />
    @*<h6 class="bg-info panel-body">Select To Add To <b>(@Model.Role.Name)</b></h6>
    <table class="table table-responsive table-bordered table-hover">
    </table>*@
    <h6 class="bg-info panel-body">إختر للحذف<b>(@Model.Role.Name)</b></h6>
    <table class="table table-responsive table-bordered table-hover">
        @if (Model.Members.Count() == 0)
        {
            <tr><td colspan="2">No Users Are Members</td></tr>
        }
        else
        {
            foreach (ApplicationUser user in Model.Members)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        <input type="checkbox" name="IdsToDelete" value="@user.Id">
                    </td>
                </tr>
            }
        }
    </table>
    <button type="submit" class="btn btn-primary rounded-0">حذف</button>
    <a asp-action="Index" class="btn btn-secondary rounded-0">إلغاء</a>
</form>
</div>