@model WebOS.Models.BlogPost

@{
    ViewData["Title"] = "إضافة تقرير";
}

@*<h1>Create</h1>*@
<partial name="_ViewHeader" />
<div class="container">
    <h4 class="mt-4">إضافة تقرير</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="EnTitle" class="control-label"></label>
                    <input style="direction:ltr" asp-for="EnTitle" class="form-control" />
                    <span asp-validation-for="EnTitle" class="text-danger"></span>
                </div>
                <div class="mb-3" hidden>
                    <label asp-for="Introduction" class="control-label"></label>
                    <textarea asp-for="Introduction" class="form-control"></textarea>
                    <span asp-validation-for="Introduction" class="text-danger"></span>
                </div>
                <div class="mb-3" hidden>
                    <label asp-for="EnIntroduction" class="control-label"></label>
                    <textarea style="direction:ltr" asp-for="EnIntroduction" class="form-control"></textarea>
                    <span asp-validation-for="EnIntroduction" class="text-danger"></span>
                </div>
                <div class="mb-3" hidden>
                    <label asp-for="Body" class="control-label"></label>
                    <textarea rows="20" asp-for="Body" class="form-control"></textarea>
                    <span asp-validation-for="Body" class="text-danger"></span>
                </div>
                <div class="mb-3" hidden>
                    <label asp-for="EnBody" class="control-label"></label>
                    <textarea style="direction:ltr" rows="20" asp-for="EnBody" class="form-control"></textarea>
                    <span asp-validation-for="EnBody" class="text-danger"></span>
                </div>
            
                @*<div class="mb-3">
                <label asp-for="PostDateTime" class="control-label"></label>
                <input asp-for="PostDateTime" class="form-control" />
                <span asp-validation-for="PostDateTime" class="text-danger"></span>
                </div>
                <div class="mb-3">
                <label asp-for="DateModified" class="control-label"></label>
                <input asp-for="DateModified" class="form-control" />
                <span asp-validation-for="DateModified" class="text-danger"></span>
                </div>*@
                <div class="mb-3" id="img" hidden>
                    <label asp-for="Image" class="control-label"></label>*<br />
                    <img width="400" height="300" id="img1" class="img-rounded center-block" src="" />
                    <input required type="file" name="myfile" id="file" accept=".png,.jpg,.jpeg,.gif,.tif" class="btn btn-info col-lg-12 input-sm" />
                    <input placeholder="هذا الحقل ضروري" readonly asp-for="Image" id="fileinput" class="form-control input-sm" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="mb-3" hidden>
                    <label asp-for="Source" class="control-label"></label>
                    <input asp-for="Source" class="form-control" />
                    <span asp-validation-for="Source" class="text-danger"></span>
                </div>
                <div class="mb-3" hidden>
                    <label asp-for="YouTube" class="control-label"></label>
                    <input asp-for="YouTube" class="form-control" />
                    <span asp-validation-for="YouTube" class="text-danger"></span>
                </div>
                <div class="mb-3" hidden>
                    <label asp-for="EnSource" class="control-label"></label>
                    <input style="direction:ltr" asp-for="EnSource" class="form-control" />
                    <span asp-validation-for="EnSource" class="text-danger"></span>
                </div>
                <div class="mb-3" id="fileform">
                    <label asp-for="File" class="control-label"></label>
                    <input type="file" name="myfile1" id="file1" accept=".pdf,.doc" class="btn btn-info col-lg-12 input-sm" />
                    <input readonly placeholder="هذا الحقل إختياري" asp-for="File" id="fileinput1" class="form-control input-sm" />
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
                <div class="mb-3" hidden>
                    <label asp-for="Tags" class="control-label"></label>
                    <input asp-for="Tags" class="form-control" />
                    <span asp-validation-for="Tags" class="text-danger"></span>
                </div>
                <div class="mb-3" hidden>
                    <label asp-for="EnTags" class="control-label"></label>
                    <input style="direction:ltr" asp-for="EnTags" class="form-control" />
                    <span asp-validation-for="EnTags" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="control-label col-lg-6">القسم الرئيسي</label>
                    <select id="main" asp-for="BlogTaxonomyId" class="form-control" asp-items="ViewBag.BlogTaxonomyId"><option>إختر قسم رئيسي</option></select>
                </div>
                <div class="mb-3" id="subfield">
                    <label class="control-label col-lg-6">القسم الفرعي</label>
                    <select id="sub" name="subvalue" class="form-control"><option>إختر قسم رئيسي أولاً</option></select>
                </div>
                <div class="mb-3">
                </div>
                <div class="mb-3 form-check" hidden>
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsHidden" /> @Html.DisplayNameFor(model => model.IsHidden)
                    </label>
                </div>
                <div class="mb-3 form-check" hidden>
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsFeatured" /> @Html.DisplayNameFor(model => model.IsFeatured)
                    </label>
                </div>
                <div class="mb-3 form-check" hidden>
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsPdf" /> @Html.DisplayNameFor(model => model.IsPdf)
                    </label>
                </div>
                <div class="mb-3 form-check" hidden>
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>

                <div class="mb-3">
                    <input type="submit" value="إضافة" class="btn btn-success rounded-0" />
                    <a class="btn btn-primary rounded-0" asp-action="Index">رجوع</a>
                </div>
            </form>
        </div>
    </div>

    <div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            // $("#ctyid").prop("disabled", true);
            $("#main").change(function() {
                //  $("#ctyid").prop("disabled", true);
                $("#sub").empty();
                var _url = '@Url.Action("GetSubList", "Home")';

                if ($("#main").val() > 0) {
                    var CountryOptions = {};
                    CountryOptions.url = _url;
                    CountryOptions.data = { mainid: $("#main").val() };
                    CountryOptions.success = function(data) {
                        var count = Object.keys(data).length;
                        if (count > 0) {
                            $("#sub").append($('<option>', { text: "إختر قسم" }));
                            $.each(data, function(index, row) {
                                $("#sub").append($('<option>', { value: row.value, text: row.text }))
                            });
                        }
                        else {
                            $("#sub").append($('<option>', { text: "لايوجد قسم فرعي" }));
                        }
                        //  $("#ctyid").prop("disabled", false);
                    };
                    CountryOptions.error = function() { alert("error"); };
                    $.ajax(CountryOptions);
                }
            });
        });
    </script>


    <script>
        $(document).ready(function() {
            $('#img1').hide();
            $("#file").change(function() {
                if ($("#file").val() != "") {
                    $("#fileinput").prop("value", $("#file").val().split('\\').pop());
                }
                if (this.files && this.files[0]) {
                    $('#img1').fadeIn();
                    var reader = new FileReader();
                    reader.onload = function(e) { $('#img1').attr('src', e.target.result); }
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#file1").change(function() {
                if ($("#file1").val() != "") {
                    $("#fileinput1").prop("value", $("#file1").val().split('\\').pop());
                }
            });
        });
    </script>

    <script>
        tinymce.init({
            selector: 'textarea',
            content_style: "div, p {font-size: 18px;}",
            directionality: 'rtl',
            //language: 'ar_SA',
            //plugins: "link,image,media,table",

            //menubar: "insert",
            toolbar: "link,image,media,table",
            relative_urls: false,
            remove_script_host: false,
            convert_urls: true,
            toolbar: true,
            menubar: false,
            mode: "textareas"
            //plugins: "table,contextmenu,paste,-externalplugin"
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
