@model IEnumerable<WebOS.Models.BlogPostImage>

@{
    ViewData["Title"] = "اضافة الصور";
}
<partial name="_ViewHeader" />
<div class="px-5">
    <a asp-controller="BlogPosts" asp-action="Details" asp-route-id="@ViewData["postid"]">رجوع الى الموضوع</a>
    <p>اضف صورة</p>
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group" hidden>
            <input value="@ViewData["postid"]" name="BlogPostId" class="form-control" />
        </div>
        <div class="mb-3" id="img">
            <img width="400" height="300" id="img1" class="img-rounded center-block" src="" />
            <input required type="file" name="myfile" id="file" accept=".png,.jpg,.jpeg,.gif,.tif" class="btn btn-info col-lg-12 input-sm" />
            <input placeholder="هذا الحقل ضروري" readonly name="Image" id="fileinput" class="form-control input-sm" />
        </div>
        <div class="form-group">
            <input type="submit" value="اضافة الصورة" class="btn btn-primary" />
        </div>
    </form>
    <hr />
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BlogPost)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BlogPost.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Image)
                            <img width="200" height="200" src="/Pictures/@item.Image">
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function() {
            $('#img1').hide();
            $("#file").change(function() {
                if ($("#file").val() != "") {
                    $("#fileinput").prop("value", $("#file").val().split('\\').pop());
                }
                if (this.files && this.files[0]) {
                    $('#img1').fadeIn();
                    var reader = new FileReader();
                    reader.onload = function(e) { $('#img1').attr('src', e.target.result); }
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });
    </script>
}