@model WebOS.Models.BlogTaxonomy

@{
    ViewData["Title"] = "حذف "+Model.Name;
}
<partial name="_ViewHeader" />
<div class="px-5">


<h3>هل أنت متاكد من حذف "@Model.Name"</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sub)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sub)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger rounded-0" /> 
        <a class="btn btn-primary rounded-0" asp-action="Index" asp-controller="BlogTaxonomies" asp-route-id="@Model.Sub">رجوع</a>
    </form>
</div>
</div>
