@using System.Text.RegularExpressions
@model BlogViewModel
@using System.Globalization
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "الرئيسة";
    var culture = System.Globalization.CultureInfo.CurrentCulture;
}


<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @foreach (var item in ViewBag.Sliders)
            {
                @if (culture.Name == "en")
                {
                    <div class="carousel-item">
                        <img class="w-100" src="/Pictures/@item.Image" alt="Image">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-7 pt-5">
                                        <h1 class="display-4 text-white mb-3 animated slideInDown">@item.EnTitle</h1>
                                        <p class="fs-5 text-white-50 mb-5 animated slideInDown">@item.EnSubTitle</p>
                                        <a class="btn btn-primary py-2 px-3 animated slideInDown" href="@item.Url">
                                            @item.EnUrlText
                                            <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                                <i class="fa fa-arrow-right"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <img class="w-100" src="/Pictures/@item.Image" alt="Image">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-7 pt-5">
                                        <h1 class="display-4 text-white mb-3 animated slideInDown">@item.Title</h1>
                                        <p class="fs-5 text-white-50 mb-5 animated slideInDown">@item.SubTitle</p>
                                        <a class="btn btn-primary py-2 px-3 animated slideInDown" href="@item.Url">
                                            @item.UrlText
                                            <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                                <i class="fa fa-arrow-right"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">@Localizer["About Us"]</div>
                    @if (ViewBag.SystemSetting != null)
                    {

                        @if (culture.Name == "en")
                        {
                            <h1 class="display-6 mb-5">@ViewBag.SystemSetting.EnAbout</h1>
                            <div class="bg-light border-bottom border-5 border-primary rounded p-4 mb-4">
                                <p class="text-dark mb-2">@ViewBag.SystemSetting.EnVision</p>
                                <span class="text-primary">@Localizer["Namir Ali Hussain, The President"]</span>
                            </div>
                        }
                        else
                        {
                            <h1 class="display-6 mb-5">@ViewBag.SystemSetting.About</h1>
                            <div class="bg-light border-bottom border-5 border-primary rounded p-4 mb-4">
                                <p class="text-dark mb-2">@ViewBag.SystemSetting.Vision</p>
                                <span class="text-primary">@Localizer["Namir Ali Hussain, The President"]</span>
                            </div>
                        }
                    }

                    <a class="btn btn-primary py-2 px-3 me-3" asp-action="About">
                        @Localizer["Know More"]
                        <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                    <a class="btn btn-outline-primary py-2 px-3" asp-action="Contact">
                        @Localizer["Contact Us"]
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100 pt-5 pe-5" src="/img/about-1.jpg" alt="" style="object-fit: cover;">
                    <img class="position-absolute top-0 end-0 bg-white ps-2 pb-2" src="/img/about-2.jpg" alt="" style="width: 200px; height: 200px;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Blogs Start -->
<div class="weekly2-news-area  weekly2-pading gray-bg">
    <div class="container">
        <div class="weekly2-wrapper">
            <!-- section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle mb-30">
                        <div class="d-flex align-items-center rounded-pill bg-secondary text-primary py-1 px-3 mb-3">
                            <a asp-action="Wall" asp-controller="BlogPosts">@Localizer["Top News (View All)"]</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">@Localizer["Categories"]</a>
                                @if(culture.Name=="en"){
                                <div class="dropdown-menu m-0">
                                    @foreach (var item in ViewBag.Taxonomies)
                                    {
                                        <a asp-action="TaxonomyIndex" asp-controller="BlogPosts" asp-route-taxonomyid="@item.Id" class="dropdown-item">@item.EnName</a>
                                    }
                                    </div>
                                }
                                else
                                {
                                <div class="dropdown-menu m-0">
                                    @foreach (var item in ViewBag.Taxonomies)
                                    {
                                        <a asp-action="TaxonomyIndex" asp-controller="BlogPosts" asp-route-taxonomyid="@item.Id" class="dropdown-item">@item.Name</a>
                                    }
                                </div>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="weekly2-news-active dot-style d-flex dot-style">
                        @if (culture.Name == "en")
                        {
                            @foreach (var item in ViewBag.Blogs)
                            {
                                <div class="weekly2-single">
                                    <div class="weekly2-img">
                                        <img src="/Pictures/@item.Image" alt="">
                                    </div>
                                    <div class="weekly2-caption">
                                        <span class="color1">@item.BlogTaxonomy.EnName</span>
                                        <p>@item.PostDateTime</p>
                                        <h4><a asp-route-id="@item.Id" asp-action="Details" asp-controller="BlogPosts">@Common.substringc(item.EnTitle,0,50)</a></h4>
                                    </div>
                                </div>

                            }
                        }
                        else
                        {
                            @foreach (var item in ViewBag.Blogs)
                            {
                                <div class="weekly2-single">
                                    <div class="weekly2-img">
                                        <img src="/Pictures/@item.Image" alt="">
                                    </div>
                                    <div class="weekly2-caption">
                                        <span class="color1">@item.BlogTaxonomy.Name</span>
                                        <p>@item.PostDateTime</p>
                                        <h4><a asp-action="Details" asp-controller="BlogPosts" asp-route-id="@item.Id">@Common.substringc(item.Title,0,50)</a></h4>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blogs end -->
<!-- Blogs end -->
<!-- Causes Start -->
<div class="container-xxl bg-light my-5 py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">@Localizer["Opended Projects"]</div>
            <h1 class="display-6 mb-5">@Localizer["Our Projects"]</h1>
        </div>
        <div class="row g-4 justify-content-center">
            @foreach (var item in ViewBag.CausesCategories)
            {
                @foreach (var cause in ((IEnumerable<dynamic>)ViewBag.Causes).Where(b => b.CauseCategoryId == item.Id).Take(1))
                {
                    @if (culture.Name == "en")
                    {
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-100">
                                <div class="text-center p-4 pt-0">
                                    <div class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                                        <small>@cause.CauseCategory.EnTitle</small>
                                    </div>
                                    <h5 class="mb-3">@cause.EnTitle</h5>
                                    <p>@cause.EnBriefDescription</p>
                                    @*<div class="causes-progress bg-light p-3 pt-2">
                        <div class="d-flex justify-content-between">
                        <p class="text-dark">$10,000 <small class="text-body">Goal</small></p>
                        <p class="text-dark">$9,542 <small class="text-body">Raised</small></p>
                        </div>
                        <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                        <span>90%</span>
                        </div>
                        </div>
                        </div>*@
                                </div>
                                <div class="position-relative mt-auto">
                                    <img class="img-fluid" src="/Pictures/@cause.Image" alt="">
                                    <div class="causes-overlay">
                                        <a class="btn btn-outline-primary" asp-action="Index" asp-controller="CauseCategories" asp-route-id="@cause.CauseCategoryId">
                                            @Localizer["See All"]
                                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                                <i class="fa fa-arrow-right"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="causes-item d-flex flex-column bg-white border-top border-5 border-primary rounded-top overflow-hidden h-100">
                                <div class="text-center p-4 pt-0">
                                    <div class="d-inline-block bg-primary text-white rounded-bottom fs-5 pb-1 px-3 mb-4">
                                        <small>@cause.CauseCategory.Title</small>
                                    </div>
                                    <h5 class="mb-3">@cause.Title</h5>
                                    <p>@cause.BriefDescription</p>
                                    @*<div class="causes-progress bg-light p-3 pt-2">
                        <div class="d-flex justify-content-between">
                        <p class="text-dark">$10,000 <small class="text-body">Goal</small></p>
                        <p class="text-dark">$9,542 <small class="text-body">Raised</small></p>
                        </div>
                        <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                        <span>90%</span>
                        </div>
                        </div>
                        </div>*@
                                </div>
                                <div class="position-relative mt-auto">
                                    <img class="img-fluid" src="/Pictures/@cause.Image" alt="">
                                    <div class="causes-overlay">
                                        <a class="btn btn-outline-primary" asp-action="Index" asp-controller="CauseCategories" asp-route-id="@cause.CauseCategoryId">
                                            @Localizer["See All"]
                                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                                <i class="fa fa-arrow-right"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }

        </div>
    </div>
</div>
<!-- Causes End -->
<!-- Statictics start -->
<div class="statictics  statictics-bg p-5">
    <div class="container">

        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">@Localizer["Statistics"]</div>
        </div>
        <div class="row m-0">
            <div class="col-md-3">
                <h1 class="text-center  text-white">@ViewBag.SystemSetting.VolunteersNumber</h1>
                <h6 class="text-center  text-white">@Localizer["Volunteers"]</h6>
            </div>
            <div class="col-md-3">
                <h1 class="text-center  text-white">@ViewBag.SystemSetting.EmployeesNumber</h1>
                <h6 class="text-center  text-white">@Localizer["Employees"]</h6>
            </div>
            <div class="col-md-3">
                <h1 class="text-center  text-white">@ViewBag.SystemSetting.BeneficiariesNumber</h1>
                <h6 class="text-center  text-white">@Localizer["Beneficiaries"]</h6>
            </div>
            <div class="col-md-3">
                <h1 class="text-center  text-white">@ViewBag.SystemSetting.ProjectsNumber</h1>
                <h6 class="text-center  text-white">@Localizer["Projects"]</h6>
            </div>

        </div>
    </div>
</div>
<!-- Statictics end -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">@Localizer["Services"]</div>
            <h1 class="display-6 mb-5">@Localizer["Our Services"]</h1>
        </div>
        <div class="row g-4 justify-content-center">
            @foreach (var item in ViewBag.Services)
            {
                if (culture.Name == "en")
                {
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                            <img class="img-fluid mb-4" src="/Pictures/@item.Image" alt="">
                            <h4 class="mb-3">@item.EnTitle</h4>
                            <p class="mb-4">@Common.substringc(item.EnBriefDescription,0,20)</p>
                            <a class="btn btn-outline-primary px-3" asp-action="Details" asp-controller="Services" asp-route-id="@item.Id">
                                @Localizer["Know More"]
                                <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                }
                else
                {

                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                            <img class="img-fluid mb-4" src="/Pictures/@item.Image" alt="">
                            <h4 class="mb-3">@item.Title</h4>
                            <p class="mb-4">@Common.substringc(item.BriefDescription,0,20)</p>
                            <a class="btn btn-outline-primary px-3" asp-action="Details" asp-controller="Services" asp-route-id="@item.Id">
                                @Localizer["Know More"]
                                <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            }


        </div>
    </div>
</div>
<!-- Service End -->
<!-- Donate Start -->
<div class="container-fluid donate my-5 py-5" data-parallax="scroll" data-image-src="/img/carousel-2.jpg">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">@Localizer["Donate Now"]</div>
                <h1 class="display-6 text-white mb-5">@Localizer["Thanks For The Results Achieved With You"]</h1>
            </div>

            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="h-100 bg-white p-5">
                    <form>
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control bg-light border-0" id="name" placeholder="Your Name">
                                    <label for="name">@Localizer["Your Name"] </label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="email" class="form-control bg-light border-0" id="email" placeholder="Your Email">
                                    <label for="email">@Localizer["Email"]</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="btn-group d-flex justify-content-around">
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" checked>
                                    <label class="btn btn-light py-3" for="btnradio1">$10</label>

                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2">
                                    <label class="btn btn-light py-3" for="btnradio2">$20</label>

                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3">
                                    <label class="btn btn-light py-3" for="btnradio3">$30</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary px-5" style="height: 60px;">
                                    @Localizer["Donate Now"]
                                    <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                        <i class="fa fa-arrow-right"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Donate End -->
<!-- Team Start -->
@if (((IEnumerable<dynamic>)ViewBag.Team).Count() > 0)
{
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">@Localizer["Our Team"]</div>
                <h1 class="display-6 mb-5">@Localizer["Our Team"]</h1>
            </div>
            <div class="row g-4">
                @foreach (var item in ViewBag.Team)
                {
                    if (culture.Name == "en")
                    {
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="team-item position-relative rounded overflow-hidden">
                                <div class="overflow-hidden">
                                    <img class="img-fluid" src="/Pictures/@item.Image" alt="">
                                </div>
                                <div class="team-text bg-light text-center p-4">
                                    <h5>@item.EnName</h5>
                                    <p class="text-primary">@item.EnJob</p>
                                    <div class="team-social text-center">
                                        <a class="btn btn-square" href="@item.FB"><i class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-square" href="@item.Twitter"><i class="fab fa-twitter"></i></a>
                                        <a class="btn btn-square" href="@item.Instagram"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="team-item position-relative rounded overflow-hidden">
                                <div class="overflow-hidden">
                                    <img class="img-fluid" src="/Pictures/@item.Image" alt="">
                                </div>
                                <div class="team-text bg-light text-center p-4">
                                    <h5>@item.Name</h5>
                                    <p class="text-primary">@item.Job</p>
                                    <div class="team-social text-center">
                                        <a class="btn btn-square" href="@item.FB"><i class="fab fa-facebook-f"></i></a>
                                        <a class="btn btn-square" href="@item.Twitter"><i class="fab fa-twitter"></i></a>
                                        <a class="btn btn-square" href="@item.Instagram"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}
<!-- Team End -->
<!-- Testimonial Start -->
@*@if (((IEnumerable<dynamic>)ViewBag.Testomonials).Count() > 0)
{
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">@Localizer["Testimonial"]</div>
                <h1 class="display-6 mb-5">@Localizer["Trusted By Thousands organizations"]</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                @foreach (var item in ViewBag.Testomonials)
                {
                    if (culture.Name == "en")
                    {
                        <div class="testimonial-item text-center">
                            <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="/Pictures/@item.Image" style="width: 100px; height: 100px;">
                            <div class="testimonial-text rounded text-center p-4">
                                <p>@item.EnBriefDescription</p>
                                <h5 class="mb-1">@item.EnName</h5>
                                <span class="fst-italic">@item.EnJob</span>
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="testimonial-item text-center">
                            <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="/Pictures/@item.Image" style="width: 100px; height: 100px;">
                            <div class="testimonial-text rounded text-center p-4">
                                <p>@item.BriefDescription</p>
                                <h5 class="mb-1">@item.Name</h5>
                                <span class="fst-italic">@item.Job</span>
                            </div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>
}*@
<div class="container-xxl py-5">
    <div class="container">
        <h2>
            <div class="ticker d-flex flex-wrap justify-content-center align-items-center">
@*                <strong>@Localizer["Our:"]</strong>
*@                <ul>
                    <li class="fw-bolder">@Localizer["Partners"]</li>
                    <li class="fw-bolder">@Localizer["Donners"]</li>
                </ul>
            </div>
        </h2>
        <section class="customer-logos slider">
            @foreach (var item in ViewBag.Testomonials)
            {
                <div class="slide"><img src="/Pictures/@item.Image"></div>
            }
        </section>
    </div>
</div>
<!-- Testimonial End -->
@section scripts{
    <script>
        $(".carousel-item").first().addClass("active");
    </script>
    <script src="/js/jquery.ticker.js"></script>
    <script>
        $(function() {
            $('.ticker').ticker();
        });
    </script>
    @if (culture.Name == "en")
    {

        <script>
            $('.customer-logos').slick({
                slidesToShow: 6,
                rtl: false,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1500,
                arrows: false,
                dots: false,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 3
                    }
                }]
            });
        </script>
    }
    else
    {
        <script>
            $('.customer-logos').slick({
                slidesToShow: 6,
                rtl: true,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1500,
                arrows: false,
                dots: false,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 3
                    }
                }]
            });
        </script>
    }

}