@model WebOS.Models.TicketCategory

@{
    ViewData["Title"] = "هل أنت متأكد من حذف القسم "+ Model.Name;
}


<h3>هل أنت متأكد من حذف القسم "@Model.Name"</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NotifyEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotifyEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger rounded-0" />        
        <a class="btn btn-primary rounded-0" asp-action="List" asp-controller="Tickets">رجوع</a>
    </form>
</div>
