@model IEnumerable<WebOS.Models.Faculty>

@{
    ViewData["Title"] = "Index";
}

<partial name="_ViewHeader" />

<div class="container">
<h1>الكليات</h1>

<p>
    <a asp-action="Create">اضافة كلية</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArFacultyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnFacultyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.University)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArFacultyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnFacultyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.University.ArUniversityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.ArCityName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
